
<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Email</th>
		<th>City</th>
		<th>State</th>
		<th>Country</th>
	</tr>
<%@users.each do |u|%>
	<tr>
		<td><%=u.id%></td>
		<td><%=link_to u.name,admin_user_pro_path(:uid=>u.id)%></td>
		<td><%=u.email%></td>
		<td><%=u.city%></td>
		<td><%=u.state%></td>
		<td><%=u.country%></td>
		<td><%= link_to "Edit",edit_user_account_path(:id => u.id)%></td>
		<td><%= link_to "Disabled",disabled_path(:id => u.id)%></td>
	</tr>
	<%end%>
</table>
<%=link_to "sign_out",destroy_user_session_path,:method => :delete%>