<h1>Listing categories</h1>
 
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Image</th>
    <th>Is_featured</th>
    <th>Parent_id</th>
    <th></th>
    <th></th> 
    <th></th> 
  </tr>
 
<% @categories.each do |c| %>
  <tr>
  <td><%= c.id %></td>
    <td><%= c.name %></td>
    <td><%= c.description %></td>
    <td><%=image_tag(c.image.url(:small))%></td> 
    <td><%= c.is_featured %></td>
    <td><% c.sub_categories.each do|s| %>
      <%=s.name%><br>
      <%end%></td>
    <td><%= link_to 'Show', categories_show_path(:category_id=>c.id) %></td>
    <td><%= link_to 'Edit', categories_edit_path(:edit_cid=>c.id) %></td>
    <td><%= link_to 'Destroy', categories_delete_path(:del_cid=>c.id)
                                      %></td>
  </tr>
<% end %>
</table>
 
<br />
 
<%= link_to 'New Category', categories_new_path %>
<%= link_to 'New SubCategory', categories_new_path(:category=>"subcategory") %>